name: E2E test
on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Clone App repository
        run: |
           
           git clone https://github.com/kamran-mhp-collab/movie-search-QA-challenge.git movie-search-QA-challenge
           ls -R movie-search-QA-challenge


      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Start backend and frontend
        run: |
          
          # Backend
          cd $GITHUB_WORKSPACE/movie-search-QA-challenge/backend
          npm install
          cp env.example .env
          echo "OMDB_API_KEY=${{ vars.OMDB_API_KEY }}" >> .env
          nohup npm start &
          

          # Frontend
          cd $GITHUB_WORKSPACE/movie-search-QA-challenge/frontend
          npm install
          nohup npm run dev &
        shell: bash 

      - name: Wait for app to be ready
        run: |
          
          echo "Esperando que el backend esté listo..."
              for i in {1..30}; do
                if curl -s http://localhost:3000/health > /dev/null; then
                  echo "Backend está listo."
                  break
                fi
                echo "Backend no está listo, reintentando..."
                sleep 5
              done


      - name: Install dependencies for E2E
        run: npm install
        working-directory: ./e2e

      - name: List all files in repository for debugging
        run: ls -R
        working-directory: ./e2e

      - name: List spec files
        run: ls -R ./e2e/cypress/e2e/**/*.feature

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6.5.0
        with:
          working-directory: ./e2e
        env:
          CYPRESS_AUTH_BASE_URL: ${{ vars.CYPRESS_AUTH_BASE_URL }}